@if (showThankYou()) {
<div class="thank-you-overlay">
  <div class="thank-you-text">🎉 THANK YOU! 🎉</div>
  <div class="confetti-container">
    <!-- many little confetti spans -->
    @for (i of confettiSlots; track i) {
    <span class="confetti-piece" [style.--i]="generateRandomNumber()">
      HELP
    </span>
    }
  </div>
</div>
}

<app-task-form></app-task-form>

@if (tasks().length > 0) { @for (t of tasks(); track t.id) {
<app-task-item [task]="t"></app-task-item>
} } @else {
<p class="nastyText">
  Add a task...if you really want to...you don't have to do anything. No
  pressure.
</p>
}
<button class="x1 flyer" alt="1" (click)="destroy()">Destroy</button>
<button class="x2 flyer" alt="2" (click)="destroy()">Destroy</button>
<button class="x3 flyer" alt="3" (click)="destroy()">Destroy</button>
<button class="x4 flyer" alt="4" (click)="destroy()">Destroy</button>
<button class="x5 flyer" alt="5" (click)="destroy()">Destroy</button>
